.doubleT, .point, .rect{
	background: url(../img/sprites.png) no-repeat;
	display:block;

}

.doubleT{
	background-position: -187px 0;
	width: 100px;
	height: 100px;
}

.point{
	background-position: 0 0;
	width: 100px;
	height: 100px;
}

.rect{
	background-position: -101px 0;
	width: 93px;
	height: 100px;
}

